html, body {
    margin: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

body {
    background-image: url('./images/noaa-ZVhm6rEKEX8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
    gap: 50px;
}

form, .contain-location, .contain-temp, .contain-feels-like, #uv, #last-updated {
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 15px;
    padding: 30px
}

form {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.contain-location {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.contain-temp {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.contain-feels-like {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

#uv {
    grid-column: 4 / 4;
    grid-row: 4 / 5;
}

#last-updated {
    grid-column: 1 / 2;
    grid-row: 4 / 5
}
